.header{
    height:fit-content;
    /* background-color: #ff4714; */
    color: wheat;
    margin: 0px 30px;
    font-size: 40px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    min-width: 50%;
    /* box-shadow: 5px 5px 5px gray; */
    border-bottom: 1.5px solid  rgb(250, 243, 243);
   
}

.action_buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #000;
}

.header>img{
  margin: 0px;
  padding: 0px;
}

.header >.headertext{
    user-select: none; 
}

/* .header button{
   
    
}
 */


.header .button-81 {
    margin: 5px;
    /* padding: 1.3em 3em; */
    font-size: 12px;
    text-align: center;
    letter-spacing: 1.5px;
    font-weight: 600;
    color: #000;
    /* background-color: #ff471463; */
    border: none;
    border-radius: 45px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    width: 150px;
    height: 40px;
    
  }
  
  .action_buttons .button-81:hover {
    
    box-shadow: 0px 15px 20px rgba(236, 133, 37, 0.4);
    color: #fff;
    background-color: #f5a792;
    transform: translateY(-7px);
    text-decoration: underline;
  }
  
  .action_buttons .button-81:active {
    transform: translateY(-1px);
  }

 .login{
    color: #ff4714;
   
  }

  .action_buttons .name{
    margin:10px;
  }

  .addbutton{
    border: none;
    background-color: transparent;
    /* margin-bottom: 25px; */
    cursor: pointer;
  }

  .colHeader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .headerrow{
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }